<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css">
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.min.js"></script>
  <style>
    body {
      margin: 2vh auto;
      width: 90vh;
    }
  </style>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to Cash Book APP
  </p>
  <hr>
  <form action="/login" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">User Name</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="checkPwd">
      <label class="form-check-label" for="checkPwd">Save Password</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>

</html>