<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css">
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.min.js"></script>
  <style>
    body {
      margin: 2vh auto;
      width: 90vh;
    }
  </style>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>You have Successfully <%= title %>
  </p>
  <a href="/account" class="btn btn-primary">Back to HomePage</a>
</body>

</html>